@model MyLeasing.Web.Models.OwnerViewModel //Agora quem passa os parâmentro é o OwnerViewModel e não mais o Owner --> @model MyLeasing.Web.Data.Entities.Owner --> A view Create (do controle Owners) não manda nenhum parametro para a view Create pq lá no controller Owner na action Create, no return não tem tenhum parametro sendo passado --> return View(); A view Create não manda nada para ca, mas envia os dados inseridos no form daqui para o controller Owner --> Por isso temos que indicar o @model, ou seja, o modelo que a view vai utilizar para enviar os dados


@{
    ViewData["Title"] = "Create";
}

<h1>New Owner</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixedPhone" class="control-label"></label>
                <input asp-for="FixedPhone" class="form-control" />
                <span asp-validation-for="FixedPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CellPhone" class="control-label"></label>
                <input asp-for="CellPhone" class="form-control" />
                <span asp-validation-for="CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addrress" class="control-label"></label>
                <input asp-for="Addrress" class="form-control" />
                <span asp-validation-for="Addrress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type = "file"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                 <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
